exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
# import(RJDBC, RPostgreSQL, rgdal, tcltk)
#install.packages('RJDBC')
#install.packages('RPostgreSQL')
#install.packages('rgdal')
#install.packages('tcltk')